body{
    background-color: rgba(245, 156, 115, 0.76);
    text-align: center;
    margin-top: 10%;
    
}

#error{
    margin: 8px 0px;
    padding: 8px;

    background-color: #a52e2e;
}

#success{
    margin: 8px 0px;
    padding: 8px;

    background-color: limegreen;
}

table {
    border: medium solid rgba(245, 156, 115);
    border-collapse: collapse;
    width: 50%;
    }
    th {
    font-family: monospace;
    border: thin solid rgba(245, 156, 115);
    width: 50%;
    padding: 5px;
    background-color: #a52e2e;
    }
    td {
    font-family: sans-serif;
    border: thin solid rgba(245, 156, 115);
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #888888;
    }
    caption {
    font-family: sans-serif;
    }
    