<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin page</title>
</head>
<body>
<div th:replace="fragments/header">...</div>

<h1 th:text="${title}">Titre</h1>
<img src="https://media3.giphy.com/media/Nx0rz3jtxtEre/200.gif" alt="Hello There GIF">

<div th:replace="fragments/footer">...</div>
</body>
</html>