<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une résolution</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="fragments/header">...</div>

    <form action="/dashboard/creationResolution" th:object="${resolution}" method="POST" enctype="utf8">
        <p th:if="${error != null}"
           th:text="${error}">Erreur</p>
        <div>
            <label>Résolution à prendre</label>
            <input required th:field="*{contenu}" />
        </div>

        <div>
            <label>Nombre de fois</label>
            <input type="number" required th:field="*{occurence}">
        </div>
        <div>
            <label>Par semaine ?</label>
            <input type="checkbox" th:field="*{periode}" placeholder="Décoché = par jour; Coché = par semaine"/>
        </div>

        <input type="submit" value="Créer une résolution" />

    </form>

    <div th:replace="fragments/footer">...</div>
</body>
    
</html>