<html>
<head>
<title>New Years Revolution</title>
<link href="ConnexionSheet.css" rel="stylesheet" type="text/css">

</head>
<body>
<h1>
    Bienvenu sur New Years Revolution
</h1>
<h2>
    Connexion
</h2>
<form >
    <input type="text" id="ndc" placeholder="Nom de Compte"> <br>
    <input type="password" id="pass" placeholder="Mot de Passe"><br>
    <input type="submit" id="envoie" value="Connexion">
</form>
<a href="mainPage.html">Pas de compte?</a><br> 
<a href="connexion.html">Mot de passe oublié</a>
</body>
</html>