<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Years Revolution</title>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body>
<h1>
    New Years Revolution
</h1>
<div id="resoCree" th:if="${(resolutionCree != null)}" th:utext="'Information : Votre nouvelle résolution &lt;strong&gt;' + ${resolutionCree} + '&lt;/strong&gt; a bien été créée.'">
    Inscription
</div>
<div>
<p>Vos résolutions</p>
<table>
    <tr>
        <th>Ma résolution</th>
        <th>prise le</th>
        <th>Tenu</th>
    </tr>
    <tr>
        <td>Je mange des bananes</td>
        <td>06/04/2021</td>
        <td>non</td>
    </tr>
</table>
</div>

<div>
    <p>Les résolutions les plus prises</p>
    <table>
        <tr>
            <th>Ma résolution</th>
            <th>prise le</th>
            <th>Tenu</th>
        </tr>
        <tr>
            <td>Je mange des bananes</td>
            <td>06/04/2021</td>
            <td>non</td>
        </tr>
    </table>
</div>

<div>
        <p>Les plus tenus</p>
        <table>
            <tr>
                <th>Ma résolution</th>
                <th>prise le</th>
                <th>Tenu</th>
            </tr>
            <tr>
                <td>Je mange des bananes</td>
                <td>06/04/2021</td>
                <td>non</td>
            </tr>
            <tr>
                <td>Finir le projet</td>
                <td>06/04/2021</td>
                <td>en cours</td>
            </tr>
            <tr>
                <td>Taper une barre</td>
                <td>04/06/2021</td>
                <td>oui</td>
            </tr>
        </table>
</div>

<div>
    <p>Notre sélection</p>

    <table>
        <tr>
            <th>Contenu</th>
            <th>Auteur</th>
        </tr>
        <tr th:each="resolution : ${resolutionsList}">
            <td><span th:text="${resolution.getContenu()}"> Contenu </span></td>
            <td><span th:text="${resolution.getCreator().getLogin()}"> Auteur </span></td>
        </tr>
    </table>
    </div>

</body>
</html>