<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenue sur New Years Revolution</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header">...</div>

<h1>Bienvenue sur New Years Revolution !</h1>
<div>
    <p>
        <u><strong>New Years Revolution</strong></u> est un site web de gestion de bonnes résolutions.<br>
        Créez vos résolutions ou suivez les résolutions des autres utilisateurs !
    </p>
</div>
<br>

<div sec:authorize="isAuthenticated()">
    <p>Bonjour, <strong sec:authentication="name">Login</strong> ! Vous pouvez <a href="/dashboard">accéder à votre dashboard</a> ou <a href="/dashboard/user/me">accéder à votre page personnelle</a> !</p>
</div>

<div sec:authorize="!isAuthenticated()">
    <p><a href="/register">Créez gratuitement un compte sur New Years Revolution</a> et commencez votre suivi de bonnes résolutions dès aujourd'hui !</p>
    <p>Vous possédez déjà un compte ? <a href="/login">Connectez-vous !</a></p>
</div>

<div th:replace="fragments/footer">...</div>
</body>
</html>