<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header">...</div>

<h1>Hello there!</h1>
<img src="https://media3.giphy.com/media/Nx0rz3jtxtEre/200.gif" alt="Hello There GIF">
<h3>General Kenobi?</h3>
<h4 th:text="${oui}">1</h4>

<div th:replace="fragments/footer">...</div>
</body>
</html>