<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Years Revolution</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="fragments/header">...</div>

    <h1>Bienvenue sur New Years Revolution</h1>
    <h2>Connectez-vous à votre compte</h2>

    <div id="error" th:if="${(param.error != null) and (param.error[0] == 'bad_login')}">
        Erreur : Identifiant ou mot de passe incorrect.
    </div>

    <div id="logout" th:if="${(param.logout != null)}">
        Information : Vous avez été déconnecté.
    </div>

    <div id="register" th:if="${(registerLogin != null)}" th:utext="'Information : Votre compte &lt;strong&gt;' + ${registerLogin} + '&lt;/strong&gt; a bien été créé. Vous pouvez maintenant vous y connecter.'">
        Inscription
    </div>


    <form name='login' action="perform_login" method='POST'>
        <input type="text" id="ndc" name="username" required placeholder="Identifiant"> <br>
        <input type="password" id="pass" name="password" required placeholder="Mot de Passe"><br>
        <input type="submit" id="envoi" value="Connexion">
    </form>
    <br>
    <a th:href="@{/register}">Pas de compte ?</a><br>
    <a th:href="@{/login}">Mot de passe oublié ?</a>

    <div th:replace="fragments/footer">...</div>
</body>
</html>