<html>
<head>
<title>New Years Revolution</title>
<link href="mainPageSheet.css" rel="stylesheet" type="text/css">

</head>
<body>
<h1>
    New years Revolution
</h1>
<div>
<p>Vos résolutions</p>
<table>
    <tr>
        <th>Ma résolution</th>
        <th>prise le</th>
        <th>Tenu</th>
    </tr>
    <tr>
        <td>Je mange des bananes</td>
        <td>06/04/2021</td>
        <td>non</td>
    </tr>
</table>
</div>

<div>
    <p>Les résolutions les plus prises</p>
    <table>
        <tr>
            <th>Ma résolution</th>
            <th>prise le</th>
            <th>Tenu</th>
        </tr>
        <tr>
            <td>Je mange des bananes</td>
            <td>06/04/2021</td>
            <td>non</td>
        </tr>
    </table>
</div>

<div>
        <p>Les plus tenus</p>
        <table>
            <tr>
                <th>Ma résolution</th>
                <th>prise le</th>
                <th>Tenu</th>
            </tr>
            <tr>
                <td>Je mange des bananes</td>
                <td>06/04/2021</td>
                <td>non</td>
            </tr>
            <tr>
                <td>Finir le projet</td>
                <td>06/04/2021</td>
                <td>en cours</td>
            </tr>
            <tr>
                <td>Taper une barre</td>
                <td>04/06/2021</td>
                <td>oui</td>
            </tr>
        </table>
</div>

<div>
    <p>Notre sélection</p>
    <table>
        <tr>
            <th>Ma résolution</th>
            <th>prise le</th>
            <th>Tenu</th>
        </tr>
        <tr>
            <td>Je mange des bananes</td>
            <td>06/04/2021</td>
            <td>non</td>
        </tr>
    </table>
    </div>

</body>
</html>