<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <title th:utext="'Résolution de ' + ${resolution.getCreator().getLogin()} + ' : ' + ${resolution.getContenu()}">Résolution</title>
    </head>
    <body>
        <h2 th:utext="${resolution.getContenu()}">Résolution</h2>
        <h3 th:utext="'Par ' + ${resolution.getCreator().getLogin()}">Créateur</h3>
        <h3 th:utext="'À faire ' + ${resolution.getOccurence()} + ' fois par ' + ${resolution.getPeriode() == 0 ? 'jour' : 'semaine'}">Occurence</h3>
        <h3 th:if="${(inscriptionInfo != null)}" th:utext="'Vous êtes abonné à cette résolution depuis le ' + ${#dates.format(inscriptionInfo.getDateInscription(), 'dd/MM/yyyy')}">Date d'inscription</h3>

        <div id="error" th:if="${(error != null)}" th:text="${error}">
            Erreur
        </div>

        <div id="success" th:if="${(success != null)}" th:text="${success}">
            Succès
        </div>

        <table th:if="${isMyResolution}">
            <tr>
                <th>Date</th>
                <th>Occurences</th>
            </tr>
            <tr th:if="${validationsList.size() == 0}">
                <td colspan="2">Aucune donnée disponible.</td>
            </tr>
            <tr th:each="validation : ${validationsList}">
                <td><span th:text="${#dates.format(validation.getDate(), 'dd/MM/yyyy')}">Date</span></td>
                <td><span th:text="${validation.getOccurence()}">Occurences</span></td>
            </tr>
        </table>

        <div th:if="${shouldSubscribe}">
            <p>Inscription :</p>
            <form th:action="'/dashboard/resolution/' + ${resolution.getId()} + '/subscribe'" method="POST" enctype="utf8">
                <p>Vous n'êtes pas abonné à cette résolution. Abonnez-vous et commencez à la suivre dès maintenant !</p>
                <input type="submit" value="S'abonner" />
            </form>
        </div>

        <div th:if="${isMyResolution}">
            <p>Validation :</p>
            <form th:action="'/dashboard/resolution/' + ${resolution.getId()} + '/validation'" th:object="${validationDTO}" method="POST" enctype="utf8">
                <div>
                    <label>Nombre de fois</label>
                    <input type="number" required th:field="*{occurence}">
                </div>
                <div>
                    <label>Date</label>
                    <input type="date" required th:field="*{date}">
                </div>
                <input type="submit" value="Valider la résolution" />
            </form>
        </div>

    </body>
</html>